name : github-actions-test

on: push

jobs:
  echo:
      runs-on: ubuntu-latest
      steps:
        - run: echo 'github-actions-test'
  checkout-test:
      name: checkout-test
      runs-on: ubuntu-latest
      steps:
        - name: 파일 보기
          run: ls -al
        - uses: actions/checkout@v3
          with:
            path: new-dir       # 경로 지정 가능
        - name: 파일 다시보기
          run: ls -al
        - name: yml 확인
          run: cat new-dir/.github/workflows/first.yml
