name : github-actions-test

on: push

jobs:
  echo:
      runs-on: ubuntu-latest
      steps:
        - run: echo 'github-actions-test'
  checkout-test:
      name: checkout-test
      runs-on: ubuntu-latest
      steps:
        - name: 파일 보기
          run: ls -al
        - uses: actions/checkout@v3
          with:
            path: new-dir       # 경로 지정 가능
            repository: actions/checkout  # 다른 공개 레포 땡겨오는 것도 가능
            ref: v3 # 브랜치명 태그명
        - name: 파일 다시보기
          run: ls -al new-dir
        - name: yml 확인
          run: cat new-dir/action.yml
